<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="user1" class="com.ls.spring.User">
        <property name="userId" value="1111"/>
        <property name="name" value="xiaoming"/>
    </bean>
    <bean id="user2" class="com.ls.spring.User">
        <property name="userId" value="2222"/>
        <property name="name" value="xiaohua"/>
    </bean>
</beans>
